#homeContainer {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 40px 0;
  background-color: #f5f5f5;
  opacity: 0.95;
  color: #333333;
  padding: 80px 60px;

  h4 {
    color: #333333;
    margin-top: 0;
  }

  .img {
    border-radius: 100%;
    line-height: 84px;
    height: 88px;
    width: 88px;
    text-align: center;
    font-size: 32px;
    padding: 0;
    background-color: #999;
    color: #fff;
    float: left;
  }

  .text {
    overflow: hidden;
    padding-left: 30px;
  }

}